Charts/Web References/chartsapi/ChartsApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AdminLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminLoginResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hashedPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginUserResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hashedPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="roleId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUserResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllRoles">
        <s:complexType />
      </s:element>
      <s:element name="GetAllRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllRolesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoleById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="roleId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoleByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRoleByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllNonAdminUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllNonAdminUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllNonAdminUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertReceivedTransactionFromAPI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ReceivedTransactionDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReceivedTransactionDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TranId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="TransNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerTel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tin" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TranAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RecordDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TranType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorTranId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiptNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranNarration" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SmsSent" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Teller" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Reversal" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Cancelled" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Offline" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="UtilityCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UtilityTranRef" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SentToUtility" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistrictCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReconFileProcessed" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SentToVendor" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UtilitySentDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="QueueTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertReceivedTransactionFromAPIResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTransactionCountsByRecordDate">
        <s:complexType />
      </s:element>
      <s:element name="GetTransactionCountsByRecordDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionCountsByRecordDateResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FilterReceivedTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerTel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorTranId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiptNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="teller" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FilterReceivedTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilterReceivedTransactionsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllReceivedTransactions">
        <s:complexType />
      </s:element>
      <s:element name="GetAllReceivedTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllReceivedTransactionsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalTransactionCount">
        <s:complexType />
      </s:element>
      <s:element name="GetTotalTransactionCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTotalTransactionCountResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllReceivedTransactionsByVendor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vendorCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllReceivedTransactionsByVendorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllReceivedTransactionsByVendorResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionCountsByRecordDateAndVendor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vendorCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionCountsByRecordDateAndVendorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionCountsByRecordDateAndVendorResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllReceivedTransactionsOrdered">
        <s:complexType />
      </s:element>
      <s:element name="GetAllReceivedTransactionsOrderedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllReceivedTransactionsOrderedResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionCountsByVendorCode">
        <s:complexType />
      </s:element>
      <s:element name="GetTransactionCountsByVendorCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionCountsByVendorCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMostRecentTransactions">
        <s:complexType />
      </s:element>
      <s:element name="GetMostRecentTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMostRecentTransactionsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerTypeDistribution">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomerTypeDistributionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerTypeDistributionResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusDistribution">
        <s:complexType />
      </s:element>
      <s:element name="GetStatusDistributionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusDistributionResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionsPerHour">
        <s:complexType />
      </s:element>
      <s:element name="GetTransactionsPerHourResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionsPerHourResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUtilityCodeDistribution">
        <s:complexType />
      </s:element>
      <s:element name="GetUtilityCodeDistributionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUtilityCodeDistributionResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTransactionsByUtilityCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="utilityCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTransactionsByUtilityCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTransactionsByUtilityCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AdminLoginSoapIn">
    <wsdl:part name="parameters" element="tns:AdminLogin" />
  </wsdl:message>
  <wsdl:message name="AdminLoginSoapOut">
    <wsdl:part name="parameters" element="tns:AdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginUserSoapIn">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="LoginUserSoapOut">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllRolesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllRoles" />
  </wsdl:message>
  <wsdl:message name="GetAllRolesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllRolesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoleByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoleById" />
  </wsdl:message>
  <wsdl:message name="GetRoleByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetRoleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllNonAdminUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllNonAdminUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllNonAdminUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllNonAdminUsersResponse" />
  </wsdl:message>
  <wsdl:message name="InsertReceivedTransactionFromAPISoapIn">
    <wsdl:part name="parameters" element="tns:InsertReceivedTransactionFromAPI" />
  </wsdl:message>
  <wsdl:message name="InsertReceivedTransactionFromAPISoapOut">
    <wsdl:part name="parameters" element="tns:InsertReceivedTransactionFromAPIResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionCountsByRecordDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionCountsByRecordDate" />
  </wsdl:message>
  <wsdl:message name="GetTransactionCountsByRecordDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionCountsByRecordDateResponse" />
  </wsdl:message>
  <wsdl:message name="FilterReceivedTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:FilterReceivedTransactions" />
  </wsdl:message>
  <wsdl:message name="FilterReceivedTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:FilterReceivedTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllReceivedTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllReceivedTransactions" />
  </wsdl:message>
  <wsdl:message name="GetAllReceivedTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllReceivedTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTotalTransactionCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalTransactionCount" />
  </wsdl:message>
  <wsdl:message name="GetTotalTransactionCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalTransactionCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllReceivedTransactionsByVendorSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllReceivedTransactionsByVendor" />
  </wsdl:message>
  <wsdl:message name="GetAllReceivedTransactionsByVendorSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllReceivedTransactionsByVendorResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionCountsByRecordDateAndVendorSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionCountsByRecordDateAndVendor" />
  </wsdl:message>
  <wsdl:message name="GetTransactionCountsByRecordDateAndVendorSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionCountsByRecordDateAndVendorResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllReceivedTransactionsOrderedSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllReceivedTransactionsOrdered" />
  </wsdl:message>
  <wsdl:message name="GetAllReceivedTransactionsOrderedSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllReceivedTransactionsOrderedResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionCountsByVendorCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionCountsByVendorCode" />
  </wsdl:message>
  <wsdl:message name="GetTransactionCountsByVendorCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionCountsByVendorCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetMostRecentTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMostRecentTransactions" />
  </wsdl:message>
  <wsdl:message name="GetMostRecentTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMostRecentTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerTypeDistributionSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerTypeDistribution" />
  </wsdl:message>
  <wsdl:message name="GetCustomerTypeDistributionSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerTypeDistributionResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusDistributionSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusDistribution" />
  </wsdl:message>
  <wsdl:message name="GetStatusDistributionSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusDistributionResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionsPerHourSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionsPerHour" />
  </wsdl:message>
  <wsdl:message name="GetTransactionsPerHourSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionsPerHourResponse" />
  </wsdl:message>
  <wsdl:message name="GetUtilityCodeDistributionSoapIn">
    <wsdl:part name="parameters" element="tns:GetUtilityCodeDistribution" />
  </wsdl:message>
  <wsdl:message name="GetUtilityCodeDistributionSoapOut">
    <wsdl:part name="parameters" element="tns:GetUtilityCodeDistributionResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTransactionsByUtilityCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTransactionsByUtilityCode" />
  </wsdl:message>
  <wsdl:message name="GetAllTransactionsByUtilityCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTransactionsByUtilityCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="ChartsApiSoap">
    <wsdl:operation name="AdminLogin">
      <wsdl:input message="tns:AdminLoginSoapIn" />
      <wsdl:output message="tns:AdminLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input message="tns:LoginUserSoapIn" />
      <wsdl:output message="tns:LoginUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <wsdl:input message="tns:GetAllRolesSoapIn" />
      <wsdl:output message="tns:GetAllRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <wsdl:input message="tns:GetRoleByIdSoapIn" />
      <wsdl:output message="tns:GetRoleByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNonAdminUsers">
      <wsdl:input message="tns:GetAllNonAdminUsersSoapIn" />
      <wsdl:output message="tns:GetAllNonAdminUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertReceivedTransactionFromAPI">
      <wsdl:input message="tns:InsertReceivedTransactionFromAPISoapIn" />
      <wsdl:output message="tns:InsertReceivedTransactionFromAPISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionCountsByRecordDate">
      <wsdl:input message="tns:GetTransactionCountsByRecordDateSoapIn" />
      <wsdl:output message="tns:GetTransactionCountsByRecordDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FilterReceivedTransactions">
      <wsdl:input message="tns:FilterReceivedTransactionsSoapIn" />
      <wsdl:output message="tns:FilterReceivedTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReceivedTransactions">
      <wsdl:input message="tns:GetAllReceivedTransactionsSoapIn" />
      <wsdl:output message="tns:GetAllReceivedTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalTransactionCount">
      <wsdl:input message="tns:GetTotalTransactionCountSoapIn" />
      <wsdl:output message="tns:GetTotalTransactionCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReceivedTransactionsByVendor">
      <wsdl:input message="tns:GetAllReceivedTransactionsByVendorSoapIn" />
      <wsdl:output message="tns:GetAllReceivedTransactionsByVendorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionCountsByRecordDateAndVendor">
      <wsdl:input message="tns:GetTransactionCountsByRecordDateAndVendorSoapIn" />
      <wsdl:output message="tns:GetTransactionCountsByRecordDateAndVendorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReceivedTransactionsOrdered">
      <wsdl:input message="tns:GetAllReceivedTransactionsOrderedSoapIn" />
      <wsdl:output message="tns:GetAllReceivedTransactionsOrderedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionCountsByVendorCode">
      <wsdl:input message="tns:GetTransactionCountsByVendorCodeSoapIn" />
      <wsdl:output message="tns:GetTransactionCountsByVendorCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMostRecentTransactions">
      <wsdl:input message="tns:GetMostRecentTransactionsSoapIn" />
      <wsdl:output message="tns:GetMostRecentTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTypeDistribution">
      <wsdl:input message="tns:GetCustomerTypeDistributionSoapIn" />
      <wsdl:output message="tns:GetCustomerTypeDistributionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusDistribution">
      <wsdl:input message="tns:GetStatusDistributionSoapIn" />
      <wsdl:output message="tns:GetStatusDistributionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsPerHour">
      <wsdl:input message="tns:GetTransactionsPerHourSoapIn" />
      <wsdl:output message="tns:GetTransactionsPerHourSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUtilityCodeDistribution">
      <wsdl:input message="tns:GetUtilityCodeDistributionSoapIn" />
      <wsdl:output message="tns:GetUtilityCodeDistributionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTransactionsByUtilityCode">
      <wsdl:input message="tns:GetAllTransactionsByUtilityCodeSoapIn" />
      <wsdl:output message="tns:GetAllTransactionsByUtilityCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChartsApiSoap" type="tns:ChartsApiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdminLogin">
      <soap:operation soapAction="http://tempuri.org/AdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap:operation soapAction="http://tempuri.org/GetAllRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <soap:operation soapAction="http://tempuri.org/GetRoleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNonAdminUsers">
      <soap:operation soapAction="http://tempuri.org/GetAllNonAdminUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertReceivedTransactionFromAPI">
      <soap:operation soapAction="http://tempuri.org/InsertReceivedTransactionFromAPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionCountsByRecordDate">
      <soap:operation soapAction="http://tempuri.org/GetTransactionCountsByRecordDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterReceivedTransactions">
      <soap:operation soapAction="http://tempuri.org/FilterReceivedTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReceivedTransactions">
      <soap:operation soapAction="http://tempuri.org/GetAllReceivedTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalTransactionCount">
      <soap:operation soapAction="http://tempuri.org/GetTotalTransactionCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReceivedTransactionsByVendor">
      <soap:operation soapAction="http://tempuri.org/GetAllReceivedTransactionsByVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionCountsByRecordDateAndVendor">
      <soap:operation soapAction="http://tempuri.org/GetTransactionCountsByRecordDateAndVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReceivedTransactionsOrdered">
      <soap:operation soapAction="http://tempuri.org/GetAllReceivedTransactionsOrdered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionCountsByVendorCode">
      <soap:operation soapAction="http://tempuri.org/GetTransactionCountsByVendorCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostRecentTransactions">
      <soap:operation soapAction="http://tempuri.org/GetMostRecentTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTypeDistribution">
      <soap:operation soapAction="http://tempuri.org/GetCustomerTypeDistribution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusDistribution">
      <soap:operation soapAction="http://tempuri.org/GetStatusDistribution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsPerHour">
      <soap:operation soapAction="http://tempuri.org/GetTransactionsPerHour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtilityCodeDistribution">
      <soap:operation soapAction="http://tempuri.org/GetUtilityCodeDistribution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransactionsByUtilityCode">
      <soap:operation soapAction="http://tempuri.org/GetAllTransactionsByUtilityCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChartsApiSoap12" type="tns:ChartsApiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdminLogin">
      <soap12:operation soapAction="http://tempuri.org/AdminLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap12:operation soapAction="http://tempuri.org/LoginUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap12:operation soapAction="http://tempuri.org/GetAllRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <soap12:operation soapAction="http://tempuri.org/GetRoleById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNonAdminUsers">
      <soap12:operation soapAction="http://tempuri.org/GetAllNonAdminUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertReceivedTransactionFromAPI">
      <soap12:operation soapAction="http://tempuri.org/InsertReceivedTransactionFromAPI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionCountsByRecordDate">
      <soap12:operation soapAction="http://tempuri.org/GetTransactionCountsByRecordDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterReceivedTransactions">
      <soap12:operation soapAction="http://tempuri.org/FilterReceivedTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReceivedTransactions">
      <soap12:operation soapAction="http://tempuri.org/GetAllReceivedTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalTransactionCount">
      <soap12:operation soapAction="http://tempuri.org/GetTotalTransactionCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReceivedTransactionsByVendor">
      <soap12:operation soapAction="http://tempuri.org/GetAllReceivedTransactionsByVendor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionCountsByRecordDateAndVendor">
      <soap12:operation soapAction="http://tempuri.org/GetTransactionCountsByRecordDateAndVendor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReceivedTransactionsOrdered">
      <soap12:operation soapAction="http://tempuri.org/GetAllReceivedTransactionsOrdered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionCountsByVendorCode">
      <soap12:operation soapAction="http://tempuri.org/GetTransactionCountsByVendorCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostRecentTransactions">
      <soap12:operation soapAction="http://tempuri.org/GetMostRecentTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTypeDistribution">
      <soap12:operation soapAction="http://tempuri.org/GetCustomerTypeDistribution" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusDistribution">
      <soap12:operation soapAction="http://tempuri.org/GetStatusDistribution" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsPerHour">
      <soap12:operation soapAction="http://tempuri.org/GetTransactionsPerHour" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtilityCodeDistribution">
      <soap12:operation soapAction="http://tempuri.org/GetUtilityCodeDistribution" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransactionsByUtilityCode">
      <soap12:operation soapAction="http://tempuri.org/GetAllTransactionsByUtilityCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChartsApi">
    <wsdl:port name="ChartsApiSoap" binding="tns:ChartsApiSoap">
      <soap:address location="https://localhost:44311/ChartsApi.asmx" />
    </wsdl:port>
    <wsdl:port name="ChartsApiSoap12" binding="tns:ChartsApiSoap12">
      <soap12:address location="https://localhost:44311/ChartsApi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>